/* ==========================================================================
   USER PROFILE DETAIL
   ========================================================================== */
.user-profile-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    padding: 4.8rem 3.2rem;
    border-bottom: var(--border-1-color-primary);
}

.user-profile-detail__section-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 2.4rem;

    width: 100%;
    max-width: var(--max-content-width);
}

.user-profile-detail__profile-image {
    flex-shrink: 0 17rem 0;
    width: 17rem;
    height: 17rem;

    border: var(--border-1-color-primary);
    border-radius: var(--border-radius);

    overflow: hidden;
}

.user-profile-detail__content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.user-profile-detail__user-name {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
}

.user-profile-detail__user-description {
    margin-bottom: 2.4rem;
    max-width: 52ch;
    width: 100%;
}

.user-profile-detail__user-statistics {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 0.8rem;
    justify-content: flex-start;
}
